html
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet' href='/css/svg-resize.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='js/svg-resize.js')
    title Hello, world!
  h1 Hello, world!
  body  
    img(src='/img/hearts.svg' alt='Heart svg' width="100px")
    img(src='/img/hearts.svg' alt='Heart svg' width="100px")
    img(src='/img/cake.svg' alt='Heart svg' width="100px")
    p#svgContainer aaaaaaaaaaaaaaaaaaaaaaaaaa
